.input {
  border-color: red;
}

.show {
  /* opacity: 1; */
  /* CSS 过渡动画 */
  /* transition: all 1s ease-in; */
  animation: show-item 2s ease-in forwards;
}

.hide {
  /* opacity: 0; */
  /* transition: all 1s ease-in; */
  /* CSS 动画效果 */
  animation: hide-item 2s ease-in forwards; /* 动画的最后一帧不会被保存，使用 forwards 关键字保存最后一帧*/
}

@keyframes show-item {
  0% {
    opacity: 0;
    color: yellow;
  }
  50% {
    opacity: 0.5;
    color: orange;
  }
  100% {
    opacity: 1;
    color: red;

  }
}
@keyframes hide-item {
  0% {
    opacity: 1;
    color: red;
  }
  50% {
    opacity: 0.5;
    color: orange;
  }
  100% {
    opacity: 0;
    color: yellow;
  }
}