.input {
  border-color: red;
}

.show {
  /* opacity: 1; */
  /* CSS 过渡动画 */
  /* transition: all 1s ease-in; */
  animation: show-item 2s ease-in forwards;
}

.hide {
  /* opacity: 0; */
  /* transition: all 1s ease-in; */
  /* CSS 动画效果 */
  animation: hide-item 2s ease-in forwards; /* 动画的最后一帧不会被保存，使用 forwards 关键字保存最后一帧*/
}

@keyframes show-item {
  0% {
    opacity: 0;
    color: yellow;
  }
  50% {
    opacity: 0.5;
    color: orange;
  }
  100% {
    opacity: 1;
    color: red;

  }
}
@keyframes hide-item {
  0% {
    opacity: 1;
    color: red;
  }
  50% {
    opacity: 0.5;
    color: orange;
  }
  100% {
    opacity: 0;
    color: yellow;
  }
}

/* 入场动画第一帧 */
/* *-appear 页面一打开就会出现的动画 */
.fade-enter, .fade-appear {
  opacity: 0;
}

/* 入场动画第二帧到动画执行完成一直存在的动画 */
.fade-enter-active, .fade-appear-active {
  opacity: 1;
  color: orange;
  transition: opacity 1s ease-in;
}

/* 入场动画完成 */
.fade-enter-done {
  opacity: 1;
  color: red;
}

/* 出场动画第一帧 */
.fade-exit{
  opacity: 1;
}
/* 出场动画第一帧后到动画完成前的动画 */
.fade-exit-active {
  opacity: 0;
  color: orange;
  transition: opacity 1s ease-in;
}
/* 出场动画完成 */
.fade-exit-done {
  opacity: 0;
}